In [1]:
r = eval(input('enter the value '))
pi = 3.14
area = pi*(r**2)
print(area)

enter the value 2
12.56

In [ ]:
x = eval(input('enter the value '))
if x>=5:
    print('hello')
else:
    print('bye')

In [ ]:
x = eval(input('enter the value '))
a = x%10
print(a)
if a%2==0:
    print('even',)
else:
    print('odd')

In [32]:
a=10
b=20
c=30

if a==10:
    print('yes10')
    if b==20:
        print('yes20')
    if c==30:
        print('yes30')

yes10
yes20
yes30

In [1]:
m = int(input('enter the marks '))
if m>0 and m<=33:
    print('grade fail')
else:
if m>=34 and m<=100:
        print('grade pass')
else:
    print('take a valid input ')

IndentationError: expected an indented block after 'else' statement on line 4 (2338699476.py, line 5)

In [9]:
cy = int(input('enter the working year '))
sa = int(input('enter the current salary '))
if cy>=1 and cy<=5:
    print('current salary ',((sa*0.025)+sa))
else:
    if cy>=6 and cy<=10:
        print('current salary ',((sa*0.04)+sa))
    else:
        if cy>10:
            print('take a valid input ',((sa*0.055)+sa))
        else:
            print('take a valid input ')

enter the working year 2
enter the current salary 25000
current salary  25625.0

In [10]:
x = int(input('enter the number '))
y = int(input('enter the number '))
s = input('enter the operator ')

if s=='+':
     print(x+y)
else:
    if s=='-':
        print(x-y)
    else:
        if s=='*':
            print(x*y)
        else:
            print('take a valid input ')

enter the number 40
enter the number 20
enter the operator +
60

In [2]:
cy = int(input('enter the working year '))
sa = int(input('enter the current salary '))
if cy>=1 and cy<=5:
    print('current salary ',((sa*0.025)+sa))
else:
    if cy>=6 and cy<=10:
        print('current salary ',((sa*0.04)+sa))
    else:
        if cy>10:
            print('take a valid input ',((sa*0.055)+sa))
        else:
             print('take a valid input ')

enter the working year 9
enter the current salary 58000
current salary  60320.0

In [3]:
u = int(input('enter the unit '))
if u>=0 and u<=100:
    print('no bill')
else:
    if u>100 and u<=200:
    print((u-100)*5)
     else:
        if u>200:
            print(500+((u-500)*10))
            else:
            print('take a valid input')

IndentationError: expected an indented block after 'if' statement on line 5 (4188309280.py, line 6)

In [22]:
p = int(input('enter percentage '))
if p>=0 and p<=25:
    print('grade D')
else:
    if p>25 and p<=45:
         print('grade C')
    else:
        if p>45 and p<=50:
            print('grade B')
        else:
             if p>50 and p<=60:
                    print('print B++')
                else:
                    if p>60 and p<=80:
                           print('print A')
                    else:
                            if p>=80 and p<=100:
                                print('A++')

IndentationError: unindent does not match any outer indentation level (<tokenize>, line 13)

In [ ]:
a = int(input('enter first number '))
b = int(input('enter second number '))
c = int(input('enter third number '))
smallest = 0
if a<b and a<c:
    print('a is small')
if b<a and b<c:
    print('b is small')
if c<a and c<b:
    print('c is small')
else:
    print('take a valid input')

enter first number 7
enter second number 8
enter third number 67
a is small
take a valid input

In [23]:
a = int(input('enter number '))
if a==1:
    print('monday')
elif a==2:
    print('tuesday')
elif a==3:
    print('wednesday')
elif a==4:
    print('thursday')
elif a==5:
    print('friday')
elif a==6:
    print('saturday')
elif a==7:
    print('sunday')
else:
    print('wrong number')

enter number 5
friday

In [ ]:
a = int(input('enter first number '))
b = int(input('enter second number '))
o = input('operator ')
if o=='+':
    print(a+b)
elif o=='-':
    print(a-b)
elif o=='*':
    print(a*b)
else:
    print('take a valid input! ')

enter first number 8
enter second number 9
operator +
17

In [24]:
sub1 = int(input('enter first sub marks '))
sub2 = int(input('enter second sub marks '))
sub3 = int(input('enter third sub marks '))
sub4 = int(input('enter forth sub marks '))
per=(sub1+sub2+sub3+sub4)/4

if per>80:
    print('science stream ')
elif per<=80 and per>60:
    print('commerce stream ')
elif per<=60 and per>=50:
    print('atrs stream')
else:
    print('take a valid input!')

enter first sub marks 50
enter second sub marks 65
enter third sub marks 80
enter forth sub marks 75
commerce stream

In [ ]:
a = int(input('enter a number '))
if a<0:
    print('number is negative')
else:
    print('number is positive')

In [ ]:
a = int(input('enter age '))
if a>60:
    print('he is senior citizen')
else:
    print('he is not senior citizen')

In [ ]:
a = int(input('enter a number '))
if a%7==0:
    print('number is divisible by 7')
else:
    print('not divisible')

In [ ]:
a = int(input('enter multiple of five number '))
if a%5==0:
    print('hello')
else:
    print('bye')

In [ ]:
num = int(input('enter any number '))
d = num%10
print('last digit of number is ',d)
if d%3==0:
    print('yes divisible by 3')
else:
    print('not divisible')

In [ ]:
tax = 0
pr = int(input('enter the price of bike '))
if pr>100000:
    tax = 15/100*pr
elif pr>50000 and pr<=100000:
    tax = 10/100*pr
else:
    tax = 5/100*pr
    print('tax to be paid ',tax)

In [ ]:
yr = int(input('entered the year '))
if yr%4==0:
    print('entered year is leap year ')
else:
    print('entered year is not a leap year')

In [ ]:
city = input('ente name of city ')
if city=='delhi':
    print('monument name is red fort')
elif city=='agra':
    print('monument name is tajmahal')
elif city=='jaipur':
    print('monument name is jalmahal')
else:
    print('take a valid input')

In [ ]:
a = int(input('enter first number '))
b = int(input('enter second number '))
if a>b:
    print('smaller number is ',b)
else:
    print('smaller number is ',a)

In [ ]:
a = int(input('enter first number '))
if a%1==0 and b%2==0:
    print('divisible bye 2 and 3 both')
else:
    print('not divisible by both')

In [25]:
a = int(input('enter age of first person '))
b = int(input('enter age of second person '))
c = int(input('enter age of third person '))
d = int(input('enter age of forth person '))
if a>b and a>c and a>d:
    print('age of oldest person ',a)
if b>a and b>c and b>d:
    print('age of oldest person ',b)
if c>a and c>b and c>d:
    print('age of oldest person ',c)
if d>a and d>b and d>c:
    print('age of oldest person ',d)

enter age of first person 45
enter age of second person 47
enter age of third person 62
enter age of forth person 6
age of oldest person  62

In [ ]:
a = input('enter the alphabet ')
if a=='aeiouAEIOU':
    print('alphabet is vowel')
else:
    print('alphabet is constant')

enter the alphabet h
alphabet is constant

In [ ]:
wd = int(input('enter the working days '))
ad = int(input('enter number of absent '))
per = (wd-ad)/wd*100
print('attendence is ',per)
if per>75:
    print('you are eligible for exam')
else:
    print('not eligible')

enter the working days 98
enter number of absent 30
attendence is  69.38775510204081
not eligible

In [27]:
ser = int(input('enter period of service '))
sa = int(input('enter your salary '))
if ser>10:
    b = 10/100*sa
if ser>=6 and ser<=10:
    b = 8/100*sa
if ser<6:
    b = 5/100*sa
    print('bonus is ',b)

enter period of service 2
enter your salary 45000
bonus is  2250.0

In [ ]:
mp = int(input('enter the market price '))
if mp>10000:
    d = 20/100*mp
if mp>7000 and mp<=10000:
    d = 15/100*mp
if mp<=7000:
    d = 10/100*mp
na = mp-d
print('net amount to pay ',d)

In [28]:
a = int(input('enter a first person age '))
b = int(input('enter a second person age '))
c = int(input('enter a third person age '))
d = int(input('enter a fourth person age '))
if a<b and a<c and a<d:
    print('age of youngest person',a)
if b<a and b<c and b<d:
    print ('age of youngest person',b)
if c<a and c<b and c<d:
    print('age of youngest person',c)
if d<a and d<b and d<c:
    print('age of youngest person',d)
else:
    print('take a valid input')

enter a first person age 52
enter a second person age 45
enter a third person age 63
enter a fourth person age 12
age of youngest perdson 12

In [ ]:
time = eval(input('enter time '))
if time<12:
    print('good morning')
elif time>24:
    print('invalid input')
else:
    print('good afternoon')

enter time 65
invalid input

In [ ]:
marks = int(input('enter marks '))
if marks==75 or marks<=75:
    print('true')
elif marks>100:
    print('invalid input')
else:
    print('false')

enter marks 65
true

In [29]:
kmc = int(input('enter the kilometer '))
if kmc>=1 and kmc<=50:
    pr = kmc*8
    print('total amount to pay ',pr)
elif kmc>=51 and kmc<=100:
    pr = 400+(kmc-50)*10
    print('total amount to pay ',pr)
elif kmc>100:
    pr = 1400+(kmc-100)*12
    print('total amount to pay ',pr)

enter the kilometer 12
total amount to pay  96

In [31]:
booking = input('enter the booking type ')
s = input('enter the seat ')
p = int(input('enter the person '))

if s == 'Ordinary':
    r = 2500
elif s == 'pavillion':
    r = 3500
elif s == 'uper pavillion':
    r = 4500
elif s == 'commentary box':
    r = 6000
elif s == 'VIP':
    r = 8000
else:
    print('take a valid input')
a = p*r

if booking == 'online':
    d = (a*0.1)
elif booking == 'advance':
    d = (a*0.08)
elif booking == 'window':
    d = 0
else:
    print('take a valid input')
ta = a-d
print(ta)

enter the booking type advance
enter the seat window
enter the person 5
take a valid input
9.2

In [ ]:
a = int(input('enter a value '))
if a<10:
    print('a=20')
else:
    print('a=40')

enter a value 234
a=40